body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #083D8C;
}

header ul {
    list-style: none;
    text-align: right;
    margin: 0;
}

header ul li {
    display: inline-block;
    color: white;
    padding: 1%;
}

.nav-container {
    border-bottom: 5px solid gray;
}

.logo {
    padding-top: 1.5%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-left: 4%;
    width: 30%;
    float: left;
}

.logo img {
    max-width: 80%;
    height: auto;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 1% 2%;
    color: #083D8C;
    font-weight: 600;
}

nav ul li:last-child {
    color: #216DDF;
    padding: .5% 1.5%;
    border: 2px solid #216DDF;
    border-radius: 6px;
}

.top-banner img {
    width: 100%;
}

.dealers-filter {
    margin: 2% auto;
    width: 90%;
    padding: 1% 0;
    text-align: center;
    background-color: #F6F6F6;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
}

.dealers-filter p {
    display: inline-block;
    padding: 0 1%;
}

.dealers-filter label {
    padding: 0 1%;
}


.dealers-list {
    text-align: center;
}

.section0, 
.section1, 
.section2 {
    margin: 0 1.25%;
    width: 28%;
    display: inline-block;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    vertical-align: middle;
}

.sectionHeading {
    height: 120px;
}

.sectionHeading h2 {
    padding: 3%;
}

.sectionHeadingBorder {
    border-top: 1px solid lightgray;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.fa-phone-square,
.fa-envelope {
    color: #216DDF;
}

.dealers-list {
    margin-bottom: 10%;
}


.dealers-list a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 2%;
    border: 1px solid #60D9D8;
}

footer {
    background-color: #083D8C;
    text-align: center;
    height: 170px;
}

.footer-logo img {
    max-width: 100%;
    height: auto;
    margin-top: 3%;
}

.footer-social-container {
    margin: 0 auto;
}

.connect {
    float: left;
    width: 50%;
    text-align: right;
}

.connect p {
    color: white;
}

.social-icons {
    float: right;
    width: 50%;
    text-align: left;
}

.social-icons ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1%;
}

.fa-twitter,
.fa-facebook-f,
.fa-youtube {
    color: #A0B5D5;
}

.lower-footer {
    margin: 0 auto;
    background-color: #216DDF;
    text-align: center;
    padding: .125%;
}

.lower-footer ul li {
    list-style: none;
    display: inline-block;
    color: white;
}

.lower-footer ul li:nth-child(1)::after,
.lower-footer ul li:nth-child(2)::after {
    content: " | "
}

.lower-footer a,
.lower-footer a:visited {
    color: white;
    text-decoration: none;
}